{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="jumbotron">
        <h1>Update User Details</h1>
        <div class="row">

            <div class="card card-body">
                <form action="{% url 'update' %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    {{ form1.username | as_crispy_field }} <br><br>

                    {{ form1.email | as_crispy_field }} <br><br>
                    {{ form2.phone | as_crispy_field }} <br><br>
                    {{ form2.address | as_crispy_field }} <br><br>
                    {{ form2.street | as_crispy_field }} <br><br>
                    {{ form2.city | as_crispy_field }} <br><br>
                    {{ form2.state | as_crispy_field }} <br><br>
                    {{ form2.zip | as_crispy_field }} <br><br>
                    {{ form2.userpic | as_crispy_field }} <br><br>
                    <input type="submit" class="btn btn-success" value="UPDATE">

                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}